# Auto detect text files and perform LF normalization
* text=auto

# Unity specific
*.meta text eol=lf
*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.compute text eol=lf
*.asset text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.mat text eol=lf
*.physicMaterial text eol=lf
*.physicsMaterial2D text eol=lf
*.guiskin text eol=lf
*.anim text eol=lf
*.controller text eol=lf
*.overrideController text eol=lf
*.mask text eol=lf
*.mixer text eol=lf
*.playable text eol=lf
*.signal text eol=lf
*.terrainlayer text eol=lf
*.brush text eol=lf
*.renderTexture text eol=lf
*.lightingData asset text eol=lf